button.main-button {
    width: 100%;
    padding: 16px;
    background-color: #2bee8c;
    border: 0px;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0px;
    cursor: pointer;
}