#primary-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#primary-header a {
    text-decoration: none;
    color: inherit;
}
#primary-header h1 {
    font-size: 2.5em;
    margin: 0;
    display: flex;
    align-items: center;
}

#primary-header img {
    height: 75px;
}