.list {
    width: 60vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;

}
.list-link {
    text-decoration: none;
    color: inherit;
    width: calc(100% - 65px);
}
.list-link:hover {
    color: inherit;
}
.list-toolbox {
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 10px;
}
.list-toolbox  button {
    padding: 0px;
    width: 55px;
    background: none;
    color: #646cff;
    border: none;
    cursor: pointer;
    margin: 5px 0;
}

.list-toolbox  button:hover {
    color: #535BF2
}

.create-list-button {
    display: flex;
    margin: 20px auto;
    padding: 0;
    background-color: #646cff;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}