#login-header {
    display: grid;
    grid-template-columns: 50px auto 50px;
    align-items: center;
}

#login-header a {
    text-decoration: none;
    color: inherit;
}

#login-header img {
    height: 35px;
}

#login-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#login-header .branding a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
#login-header .branding h3 {
    font-size: 0.95rem;
    color: #ccc;
}